name: Build

on:
  push:
    branches: [main, dev]
  pull_request:
    branches: [main, dev]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Caching build dependencies
      - name: Dev Bundle Cache
        id: cache-dev-bundle
        uses: actions/cache@v3
        with:
          key: 0.211.11
          path: /home/runner/dev-bundle

      # Populate build dependencies (if not cached)
      - name: Download Dev Bundle (publicized dlls, etc)
        if: ${{ steps.cache-dev-bundle.outputs.cache-hit != 'true'}}
        run: |
          wget -O dev-bundle.zip ${{ secrets.VDC_DEV_BUNDLE }}0.211.11.zip
          unzip -qq dev-bundle.zip -d /home/runner/dev-bundle

      - uses: actions/checkout@v3
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 6.0.x

      - name: Restore dependencies
        # Specifying the "GamePath" as our build dependency directory (cached)
        run: dotnet restore /p:GamePath=/home/runner/dev-bundle -v n
      - name: Build
        # Specifying the "GamePath" as our build dependency directory (cached)
        run: dotnet build --no-restore -c Release /p:GamePath=/home/runner/dev-bundle -v n
